.kenel {
    background-image: url(./park-7.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
  
button {
    margin: 30px;
}

button:hover {
    cursor: pointer;
}
  
img {
    width: 300px;
    height: 300px;
    margin: 1px auto;
}